@using System;
@using Sandbox;
@using Sandbox.UI;
@using Breakfloor;

@namespace Breakfloor.UI
@inherits Panel

@code
{
	public IClient Client { get; set; }

	protected override int BuildHash()
	{
		return HashCode
		.Combine(Client.GetInt("kills"), Client.GetInt("deaths"), Client.Name.FastHash());
	}
}

@{

	var color = BreakfloorGame.GetTeamColor((Team)Client.GetInt("team"));
	var lightColor = color.WithAlpha(0.25f);
}

<root style="background-image: linear-gradient(to left, @lightColor.WithAlpha(0.1f).Rgba, rgba(0, 0, 0, 0));">
	<div class="pfp" style="background: url( avatar:@Client.SteamId ); border: 1px @color.Rgb"></div>
	<label class="name" style="color:@(lightColor.Rgb)">@(Client.Name)</label>
	<div class="score">
		<div style="display: flex; flex-direction: column;">
			<label style="font-size: 16px; align-self: center;">💀</label>
			<label class="name" style="color:white; font-size: 32px;">@Client.GetInt("kills")</label>
		</div>
		<div style="display: flex; flex-direction: column; padding-left: 5px;">
			<label style="font-size: 16px; align-self: center;">⚰</label>
			<label class="name" style="color:white; font-size: 32px;">@Client.GetInt("deaths")</label>
		</div>
</root>
